.square {
    width: 70px;
    height: 70px;
}

.light {
    background-color: white;
}

.dark {
    background-color: rgb(61, 131, 61);
}

#chessboard {
    display: grid;
    grid-template-columns: repeat(8, 70px);
    grid-template-rows: repeat(8, 70px);
    border-style: double;
}

img {
    width: 70px;
    height: 70px;
}


body {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    user-select: none;
    background-image: url("nebula_cloud.jpg");
    background-size: cover;
}


.hilight {
    background-color: yellow;
}
